.page-header {
    background-image: url('/resources/assets/background/bg-top.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.page-header > h1 {
    font-size: 3em;
}

.main-catalog {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    gap: 40px;
    padding: 20px;
}

.product-card:hover {
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
}

.page-search-form {
    padding: 20px;
}

.filter-block {
    margin-top: 40px;
}

.filter-sub-block {
    margin-top: 20px;
    height: 200px;
    overflow-y: auto;
}
